extends layout

block content
  div(class="flex items-center justify-center h-full-screen")
    div
      p(class='text-2xl text-center app-text-primary') Welcome to #{app} version 
        b #{config.appVersion}
    
  

    